@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;

  background-image: linear-gradient(
    to right top,
    rgba($color-primary, 1),
    rgba($color-accent, 1)
  );
  background-repeat: no-repeat;
}

@include media-query($breakpoint-s) {
  html {
    font-size: 68%;
  }
}

@include media-query($breakpoint-m) {
  html {
    font-size: 75%;
  }
}

@include media-query($breakpoint-l) {
  html {
    font-size: 85%;
  }
}

@include media-query($breakpoint-xl) {
  html {
    font-size: 95%;
  }
}
