@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 62.5%;
  background-image: linear-gradient(
    to right top,
    rgba($color-primary, 1),
    rgba($color-accent, 1)
  );
  height: 100vh;
  padding: 3rem 15rem;
}
