.polaroid-item {
  .polaroid-fig {
    width: auto;
    height: 35rem;
    padding-bottom: 3.5rem;
    background-color: $color-white;

    max-width: 50rem;
  }

  img {
    object-fit: contain;
    height: 100%;
    width: 100%;
  }
}
