.swiper-container {
  max-width: 50rem;
  margin-top: 0rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  .swiper-button-prev {
    color: $color-primary-dark;
  }
  .swiper-button-next {
    color: $color-primary-dark;
  }

  .swiper-pagination-bullet {
    background-color: $color-primary-dark;
  }
}

