$color-primary: #4caf50;
$color-accent: #8bc34a;

$color-primary-dark: #388e3c;
$color-primary-light: #c8e6c9;

$text-primary: #212121;
$text-secondary: #757575;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #bcbcbc;
$color-grey-light-5: #ededed;

$box-sha-1: 0 1px 3px rgba(0, 0, 0, 0.12);
$box-sha-2: 0 3px 6px rgba(0, 0, 0, 0.16);
$box-sha-3: 0 10px 20px rgba(0, 0, 0, 0.19);
$box-sha-4: 0 14px 28px rgba(0, 0, 0, 0.25);

$breakpoint-s: 600px;
$breakpoint-m: 800px;
$breakpoint-l: 1100px;
$breakpoint-xl: 1440px;
